--extra-index-url https://download.pytorch.org/whl/cpu

flask==3.0.3
flask-cors==4.0.1
torch==2.3.1
openai-whisper==20231117
moviepy==2.1.1
pillow==10.4.0
numpy==1.26.4
proglog==0.1.10
arabic-reshaper==3.0.0
python-bidi==0.4.2
